.menu {
    /* Essas 2 linhas garantem que o menu cubra a tela inteira e fique fixado no topo */
    position: fixed;
    height: 100vh;

    /* Movendo o menu para esquerda */
    transform: translateX(-100%);
    z-index: 2;
    background-color: #283618;
    top: 0;
    left: 0;
    width: 100%;
}